@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
.introduction{
    display: flex;
    width: 85%;
    margin: auto;
    border: 4px solid black;
    border-radius: 15px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 17px;
    padding-top: 30px;
    background: linear-gradient(to right, rgb(255 249 160), transparent);
    font-family: 'Poppins', sans-serif;
}
.intro_left{
    width: 70%;
}
.intro_left h1{
    text-align: center;
    font-size: 2rem;
}
.intro_left h3{
    margin-top: 20px;
    text-decoration: underline;
    font-size: 1.5rem;
}
.intro_left p{
    margin-top: 20px;
    padding-left: 15px;
    font-size: 1.1rem;
}
.intro_left ul{
    margin-top: 12px;
    margin-left: 15px;
}
.intro_left ul li{
    list-style: square;
    font-size: 1.1rem;
}
.intro_right{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.intro_right img{
    width: 200px;
    height: 228px;
    padding: 20px;
    margin-top: 100px;
    margin-left: 50px;
    /* border: 2px solid black; */
    border-radius: 200px;
    filter: drop-shadow(9px 0px 15px black);
}